.detail__content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14%;
    padding: 5% 17% 2%;
    color: #464646;
}

.product-image {
    width: 100%;
    margin-top: 20px;
}

.product-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    aspect-ratio: 1 / 1;
}

.product-detail {
    width: 100%;
}

.detail-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7%;
}

.detail-content > div,
.detail-content > a {
    width: 100%;
}

.product-brand-name,
.payment__link,
.product__heading,
.product-label {
    margin-bottom: 6.5%;
}

.product-text,
.product-price {
    margin-bottom: 6%;
}

.product-name {
    font-size: max(17px, min(calc(5px + 2vw), 26px));
    font-weight: bold;
    margin-bottom: 3px;
}

.product-brand-name {
    font-size: max(7px, min(calc(0.8vw), 14px));
}

.product-price {
    font-size: max(14px, min(calc(1px + 2vw), 24px));
}

.product-tax {
    margin-left: 2%;
}

.product-price span {
    font-size: max(10px, min(calc(1.7vw), 20px));
}

.icons {
    display: flex;
    gap: 10%;
    align-items: center;
    font-weight: lighter;
    padding-left: 5%;
    box-sizing: border-box;
    margin-bottom: 1%;
}

.far,
.fas {
    font-size: max(14px, min(calc(2vw), 23px));
    color: #5c5d5e;
}

.fas.fa-star.yellow {
    color: #ffb92d;
}

.star-icon,
.comment-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
}

.comment-icon {
    padding: 0 2.5%;
}

.star-icon p,
.comment-icon p {
    font-size: max(7px, min(calc(1vw), 13px));
    color: #5c5d5e;
}

.likes-btn,
.comment-btn {
    height: max(10px, min(calc(1.4vw), 12px));
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.payment__link {
    font-size: max(9px, min(calc(1.3vw), 15px));
    display: block;
    width: 100%;
    background-color: #FF5555;
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: 2.5;
    border-radius: 3px;
    font-weight: bold;
}

.product__heading,
.comment__heading {
    font-size: max(13.5px, min(calc(1.7vw), 20px));
    font-weight: bold;
}

.product__heading {
    margin: 4% 0 5%;
}

.product-text {
    font-size: max(10px, min(calc(1.2vw), 15px));
    flex-wrap: wrap;
}

.product-label {
    font-size: max(10px, min(calc(1.2vw), 16px));
    font-weight: bold;
    display: inline;
    margin-right: 7%;
}

.product-label span {
    font-weight: lighter;
}

.category-name {
    font-size: max(9px, min(calc(0.8vw), 14px));
    background-color: #eaeaea;
    border-radius: 15px;
    padding: 0 4%;
    margin: 5px 2px;
    display: inline-block;
}

.user-items {
    display: flex;
    align-items: center;
}

.user-image {
    display: flex;
    align-items: center;
}

.image-default,
.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eaeaea;
    margin: 15px 15px 20px 0;
    overflow: hidden;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-name {
    font-size: max(11px, min(calc(1.4vw), 15px));
    font-weight: bold;
}

.comment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7%;
}

.comment__heading {
    color: #6b6c6d;
    margin-top: 9%;
}

.comment-form > div {
    width: 100%;
}

.comment-list {
    background-color: #f0f0f0;
    min-height: 37px;
    border-radius: 3px;
    padding: 5% 4% 0;
    box-sizing: border-box;
}

.comment__group {
    font-size: max(7px, min(calc(1vw), 13px));
    margin-bottom: 6%;
}

.comment__user-name {
    font-size: max(8.5px, min(calc(1.1vw), 12px));
}

.comment-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment__user-item {
    display: flex;
    align-items: flex-start;
}

.comment__text {
    margin: 0 3px;
    box-sizing: border-box;
}

.comment__label {
    margin: 7% 0 1%;
    font-size: max(13px, min(calc(1.5vw), 18px));
    font-weight: bold;
}

.comment__textarea {
    width: 100%;
    height: 160px;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    color: #494949;
    font-size: max(10px, min(calc(1.4vw), 15px));
    border: 1px solid #a2a2a2;
}

.comment__submit {
    font-size: max(9px, min(calc(1.3vw), 15px));
    width: 100%;
    background-color: #FF5555;
    text-align: center;
    color: white;
    line-height: 2.5;
    margin-top: 8%;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}

.comment__default-image,
.comment__user-image {
    width: 18px;
    height: 18px;
    margin: 0 10px 5px 0;
    display: inline-block;
    overflow: hidden;
}

.comment__user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.comment-timestamp {
    font-size: max(5px, min(calc(0.9vw), 9px));
    margin-bottom: 5px;
}

@media(max-width: 1100px) {
    .detail__content {
        padding: 5% 9%;
        gap: 10%;
    }

    .comment__user-item {
        align-items: center;
        padding-bottom: 3px;
    }

}

@media(max-width: 850px) {
    .comment__default-image,
    .comment__user-image {
        width: 16px;
        height: 16px;
        margin: 0 6px 3px 0;
    }

    .image-default,
    .user-image {
        width: 32px;
        height: 32px;
        margin: 15px 15px 20px 0;
    }
}

@media(max-width: 767px) {
    .comment__default-image,
    .comment__user-image {
        width: 15px;
        height: 15px;
        margin: 0 6px 3px 0;
    }
}