.auth__content {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 0;
    color: #464646;
}

h2 {
    margin-bottom: 55px;
}

.form {
    margin: 40px auto 0;
    width: 55%;
    height: auto;
    max-width: 500px;
    text-align: left;
}

.form__group {
    width: 100%;
}

.error {
    color: #FF5555;
}

.form__group-link {
    width: 100%;
    text-align: center;
}

.form__label {
    font-weight: bold;
    display: block;
    margin: 25px 0 2px;
    font-size: 14px;
}

.form__input{
    width: 100%;
    margin-bottom: 5px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    padding: 0 10px;
    box-sizing: border-box;
}

.form__btn {
    width: 100%;
    margin: 70px 0 10px;
    height: 37px;
    background-color: #FF5555;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: bold;
}

.login__link {
    font-size: 12px;
    color: #0073CC;
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
}

h3 {
    margin-bottom: 10px;
}

.auth__description {
    line-height: 1.3;
    font-size: 14px;
}

.password-reset__link {
    font-size: 12px;
    color: #696a6a;
    text-decoration: none;
}

@media (max-width: 850px) {
    .form {
        width: 65%;
    }
}
